body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}

.top, .login {
    flex: 1;
    padding: 40px;
    max-width: 500px;
    overflow: hidden;
    position: relative;
}

.top {
    background: #367cf5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 762px;
    color: #fff;
}

.top h2 {
    font-size: 50px;
}

.top p {
    font-size: 35px;
}

.top img {
    max-width: 200px;
    margin: 20px 0;
}

.login {
    background: white;
    height: 762px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
}

.form-field label {
    font-size: 16px;
    margin-bottom: 5px;
}

.form-field input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    border-radius: 20px;
    transition: box-shadow 0.3s;
}

.form-field input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(54, 124, 245, 0.2);
}

.form-submit {
    margin-top: 30px;
}

.form-submit button {
    color: white;
    background-color: #367cf5;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: transform 0.2s;
}

.form-submit button:hover {
    transform: translateY(-2px);
}

.form-footer {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
}

.form-footer p {
    margin: 0.5rem 0;
}

.form-footer a {
    text-decoration: none;
    font-weight: 600;
    color: #367cf5;
}

.social-login {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.facebook-login, .google-login {
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
}
.facebook-login i, .google-login i {
    margin-right: 8px;
}

.facebook-login:hover, .google-login:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login h2 {
    font-size: 50px;
    text-align: center;
}